$font-stack: 'Sego UI', sans-serif;

.user-list-wrapper {
    padding: 0 1rem;  
    margin-top: 2rem;
    h2 {
        margin-bottom: 16px;
    }
    .button-add-device {
        @media (max-width: 527px) {
            width: 100%;
        }
    }
    .list-user {
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        @media (max-width: 640px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .item-fact {
            padding: 12px;
            cursor: pointer;
            border-radius: 8px;
            font-family: $font-stack;
            border: 1px solid rgb(196, 196, 196);

            &:hover {
                background-color: rgba(218, 218, 218, 0.199);
            }
            
            .device-name {
                font-weight: 700;
                line-height: 1.5;
            }
            .spesifikasi-device {
                font-size: 12px;
                margin-top: 6px;
                color: rgb(158, 158, 158);
            }
        }
    }
}