
<section class="poppins-medium">
    <h1 style="margin-top: 4rem; text-align: center; background-color: rgba(226, 226, 226, 0.575); padding: 1rem 1.125rem; border-radius: 8px;">Ups, Halaman Tidak ditemukan.</h1>
    <button class="back-button button-primary" style="display: flex; align-items: center; gap: 8px; cursor: pointer; margin: 0 auto; margin-top: 3rem;" (click)="handleBacktoMainPage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7"/></svg>
        <h4>Kembali ke Halaman Utama</h4>
    </button>
</section>