<section class="create-device-wrapper poppins-medium">
    <div class="back-button" style="display: flex; align-items: center; gap: 8px; cursor: pointer; margin-bottom: 1.75rem; margin-left: 2rem;" (click)="handleBackToHomePage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7"/></svg>
        <h4>Kembali</h4>
    </div>
    <form (ngSubmit)="submitForm()" #objectForm="ngForm">
        <h2>Tambahkan Device Baru</h2>
        <div class="input-wrapper">
            <div class="input-box">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" [(ngModel)]="newObject.name" required>
            </div>
            <div class="input-box">
                <label for="name">Harga</label>
                <input type="number" id="capacity" name="capacity" [(ngModel)]="newObject.data.price" required>
            </div>
            <div class="input-box">
                <label for="name">Tahun</label>
                <input type="number" id="year" name="year" [(ngModel)]="newObject.data.year" required>
            </div>
        </div>
        <button type="submit" class="button-primary button-submit" [class.disable-button]="isLoadingSubmit || (newObject.data.price === '' || newObject.data.year === '' || newObject.name === '')">{{ isLoadingSubmit ? 'Mengirim data...' : 'Send' }}</button>
    </form>
</section>